<div class="container">
   <div class="row">
    
    <div class="col-lg-6">
      
      <div class="d-flex justify-content-center">
      
        <div class="page-title">
         <h1>Welcome to <span>Shoppify</span></h1>
         <button type="button" class="btn btn-outline-success btn" (click)="navigateToProducts()">Shop Now</button>
        </div>
       
      
      </div>
    </div>
    <div class="col-lg-6">
       <img src="assets/images/ecommerce.png" alt="img" class="img-fluid">
     </div>
   
   </div>

  
 </div>
 <div class="row">
  <div class="col-md-4">
    <div class="card  bg-card-custom">
      <div class="card-body">
        <h5 class="card-title">Users Count</h5>
        <p class="card-text">Number of Users: {{countUsers}}</p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card  bg-card-custom">
      <div class="card-body">
        <h5 class="card-title">Products Count</h5>
        <p class="card-text">Number of Products: {{countProducts}}</p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card  bg-card-custom">
      <div class="card-body">
        <h5 class="card-title">Reviews Count</h5>
        <p class="card-text">Number of Reviews: {{countReviews}}</p>
      </div>
    </div>
  </div>
</div>
